//pre define global class css
.dropcap{
  display: block;
  float: left;
  font-size: 40px;
  height: 48px;
  margin-right: 10px;
  text-transform: uppercase;
  color: inherit;
}



//pre define owl carousel dot indicator css

//team indicator one
.custom-dot-indicator{
  .owl-dots{
    text-align: center;
    .owl-dot{
      position: relative;
      border: 1px solid transparent;
      border-radius: 100%;
      display: inline-block;
      padding: 4px;
      margin: 0 4px;
      transition: all .3s ease-in-out;
      span{
        border-radius: 100%;
        background: $secondary-color;
        display: block;
        height: 6px;
        width: 6px;
        line-height: 6px;
        margin: 4px;
        transition: all .3s ease-in-out;
      }
      &:hover{
        span{
          background: $primary-color;
        }
        border-color: $secondary-border-color;
      }

    }
    .active{
      border-color: $secondary-border-color;
      span{
        background: $primary-color !important;
      }
    }
  }
}

.custom-dot-indicator-style-1{
  .owl-dots{
    text-align: left;
    margin-top: 20px;
    line-height: normal;
    vertical-align: middle;
    display: inline-flex;
    width: 100%;
    .owl-dot{
      span{
        border-radius: 4px;
      }
      &:hover{
        span{
          background: $primary-color;
        }
      }

    }
    .active{
      border: none;
      span{
        height: 8px;
        width: 24px;
        background: $primary-color !important;
      }
    }
  }
}





//section dot shape css

.diamond-shape {
  position: absolute;
  left: 0;
}

.diamond-shape-square-big{
  width: 258px;
  height: 258px;
  position: absolute;
  z-index: 0;
  bottom: -38px;
  left: -42px;
  opacity: .25;
}

.damond-shape-square-small{
  position: absolute;
  bottom: -8px;
  right: 0;
}

.accent-diamond{
  top: 0;
  left: 12px;
  position: absolute;
}