{% set pagetitle = "Base template" %}
{% set bodyClass = "start" %}

{% extends "layouts/default.html" %}

{% block header %}

{% endblock %}

{% block content %}


<section class="bg-image bg--custom" data-overlay="6">
  <div class="background-image-wraper" style="background: url('assets/img/header-bg.jpg'); opacity: 1;">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-5 ">
        <div>
          <h1>Buttons</h1>
          <p class="lead">
            These modular elements can be readily used and customized across pages and in different
            blocks.
          </p>
          <hr class="short">
          <p>
            Explore all of SoftPack's modular elements
            <br> at the
            <a href="elements.html">Element Index Page →</a>
          </p>
        </div>
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>

<section class="cover-image-block cover-image-right space-small">
  <div class="cover-image-wrap col-lg-6 col-md-5 bg-image order-sm-2" data-overlay-gradient="7">
    <div class="background-image-wraper" style="background: url('assets/img/laptop4.jpg'); opacity: 1;"></div>
    <div class="video-play-button video-play-button-1">
      <a href="https://www.youtube.com/watch?v=9No-FiEInLA"
         class="video video-play mfp-iframe" data-toggle="modal"
         data-target="#video-popup">
        <span class="ti-control-play"></span>
      </a>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-md-6">
        <div class="heading-block">
          <h3>Experience quality design with best performance.</h3>
          <p class="lead">
            Continually network virtual strategic theme areas vis-a-vis ubiquitous
            potentialities.
          </p>
        </div>
        <div class="content-block mb-4">
          <h5>Premium Design</h5>
          <p>
            Credibly build enterprise ideas and cost effective internal or organic. Objectively network granular e-services before leading sources. Authoritatively facilitate enterprise.
          </p>
        </div>
        <div class="content-block">
          <h5>Quality Code</h5>
          <p>
            Distinctively facilitate one-to-one customer service before ubiquitous human capital. Synergistically target  whereas sticky outsourcing. Interactively.
          </p>
        </div>
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>



<section class="cover bg-image videobg height-100 text-center video-active" data-overlay="5">
  <video autoplay="" loop="" muted="">
    <source src="assets/img/video.webm" type="video/webm">
    <source src="assets/img/video.mp4" type="video/mp4">
    <source src="video/video.ogv" type="video/ogv">
  </video>
  <div class="background-image-wraper" style="background: url('assets/img/laptop4.jpg'); opacity: 1;">
    <img alt="image" src="assets/img/hero.jpg">
  </div>
  <div class="container vertical-position-center">
    <div class="row justify-content-center">
      <div class="col-lg-10 col-md-8">
        <h1>We deliver engaging, diverse digital and physical experiences to users for clients large and small.</h1>
      </div>
    </div>
  </div>
</section>





<section class="height-100 bg-image" data-overlay="6" style="height: 1050px">
  <div class="background-image-wraper" style="background: url('assets/img/laptop4.jpg'); opacity: 1;">
    <img alt="background" src="assets/img/laptop3.jpg">
  </div>
  <div class="container vertical-position-center">
    <div class="row justify-content-between">
      <div class="col-md-7 col-lg-5">
        <h1>
          Holistic Education for Tomorrow's Leaders
        </h1>
        <p class="lead">
          SoftPack offers a clean and contemporary look to suit a range of purposes from corporate,
          tech startup, marketing site to digital storefront.
        </p>
        <div class="modal-instance block">
          <div class="video-play-icon video-play-icon--sm modal-trigger" data-modal-index="0"></div>
          <span> <strong>2016 Alumni Wrapup</strong>&nbsp;&nbsp;&nbsp;104 Seconds</span>
          <!--end of modal-container-->
        </div>
        <!--end of modal instance-->
      </div>
      <div class="col-md-5 col-lg-7">
        <div class="video-hero-video-asset has-mobile has-video-frame " data-home-video="desktop">
          <video autoplay="" muted="" loop="" playsinline="" poster="https://assets.getflow.com/assets/home/avideo-poster-home@2x.png?mtime=20180304230501">
            <source src="https://assets.getflow.com/assets/home/New-Flow-Homepage-video.mp4" type="video/mp4">
          </video>
          <img class="hero-video-asset-frame" alt="Laptop Frame" src="assets/img/hero-macbook.svg">
        </div>
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>

<section class="text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-lg-6">
        <div class="cta">
          <a class="btn accent-btn btn-lg" href="#">
            Buy Now SoftPack
          </a>
          <p class="lead">
            Globally productize cross-media leadership and backward-compatible communities.
            Synergistically initiate functional.
          </p>
          <p class="type--fine-print">or check out
            <a href="index.html">more demos</a>
          </p>
        </div>
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>

<section class="bg-image light-bg-image cover cover-blocks bg--custom">
  <div class="background-image-wraper" style="background: url('assets/img/promo-1.jpg'); opacity: 1;">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-5 ">
        <div>
          <h1>Buttons</h1>
          <p class="lead">
            These modular elements can be readily used and customized across pages and in different
            blocks.
          </p>
          <hr class="short">
          <p>
            Explore all of SoftPack's modular elements
            <br> at the
            <a href="elements.html">Element Index Page →</a>
          </p>
        </div>
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>

<section id="section-video" class="bg-image video-bg text-center" data-overlay="4">
  <div id="bgndVideo" class="youtube-background"
       data-property="{videoURL:'http://youtu.be/M-hGwtvtXCk',containment:'#section-video', optimizeDisplay: true, startAt:0,mute:true,autoPlay:true,loop:true,opacity:1}">
  </div>
  <div class="background-image-wraper">
    <img alt="image" class="img-fluid" src="assets/img/promo-1.jpg"/>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-lg-7">
        <h1>
          Build stylish, lean sites with Softpack
        </h1>
        <p class="lead">
          Compellingly productivate vertical sources rather than real-time resources. Credibly pursue
          synergistic leadership and economically.
        </p>
        <a class="btn primary-btn" href="#">View The Demos</a>
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>


<section class="bg-image animated-color-bg height-100 text-center" data-overlay="4">
  <div class="background-image-wraper" style="background: url('assets/img/laptop4.jpg'); opacity: 1;">
    <img alt="background" src="assets/img/laptop4.jpg">
  </div>
  <div class="container vertical-position-center">
    <div class="row">
      <div class="col-md-12">
        <h1>Streamline your workflow with Stack</h1>
        <p class="lead">
          Clean and contemporary design to suit a range of purposes.
        </p>

        <form class="row justify-content-center">
          <div class="col-md-4">
            <div class="form-group">
              <input type="email" class="form-control" name="email" placeholder="Email Address">
            </div>
          </div>
          <div class="col-md-4 col-lg-3">
            <button type="submit" class="btn primary-btn">Get Started</button>
          </div>
        </form>
        <div class="row justify-content-center m-0">
          <div class="col">
                                    <span class="type--fine-print">Already have an account?
                                        <a href="#">Log in here</a>
                                    </span>
          </div>
          <!--end of col-->
        </div>
        <!--end of row-->
      </div>
      <!--end of row-->
    </div>
  </div>
  <!--end of row-->
</section>

<section class="bg--custom">
  <div class="container">
    <div class="row">


      <div id="my-popup" class="mfp-hide white-popup">
        Inline popup
      </div>
    </div>
  </div>
</section>

<section class="cover height-80 bg-image text-center" data-overlay="7">
  <div class="background-image-wraper" style="background: url('assets/img/laptop3.jpg'); opacity: 1;">
    <img alt="background" src="assets/img/promo-1.jpg">
  </div>
  <div class="container vertical-position-center">
    <div class="row">
      <div class="col-md-8">
        <h1>
          Build stylish, lean sites with SoftPack
        </h1>
        <p class="lead">
          Quickly leverage other's e-business value before interactive schemas. Competently.
          Monotonectally scale leading-edge markets before.
        </p>
        <div class="modal-instance block">
          <a class="popup-youtube rounded-circle btn primary-btn"
             href="http://www.youtube.com/watch?v=0O2aH4XLbto"><i class="fa fa-play"></i></a><br>
          <div class="video-play-icon icon input-icon modal-trigger" data-modal-index="2"></div>
          <span> <strong>See SoftPack in action</strong>&nbsp;&nbsp;&nbsp;104 Seconds</span>

          <!--end of modal-container-->
        </div>
        <!--end of modal instance-->
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>


<section class="bg--custom">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Simple Title</h1>
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>

<section class="height-80 bg-image" data-overlay-top="6">
  <div class="background-image-wraper" style="background: url('assets/img/laptop3.jpg'); opacity: 1;">
    <img alt="background" src="assets/img/promo-1.jpg">
  </div>
  <div class="container vertical-position-center">
    <div class="row">
      <div class="col-md-8">
        <h1>
          Build stylish, lean sites with SoftPack
        </h1>
        <p class="lead">
          Quickly leverage other's e-business value before interactive schemas. Competently.
          Monotonectally scale leading-edge markets before.
        </p>
        <div class="modal-instance block">
          <a class="popup-youtube rounded-circle btn primary-btn"
             href="http://www.youtube.com/watch?v=0O2aH4XLbto"><i class="fa fa-play"></i></a><br>
          <div class="video-play-icon icon input-icon modal-trigger" data-modal-index="2"></div>
          <span> <strong>See SoftPack in action</strong>&nbsp;&nbsp;&nbsp;104 Seconds</span>

          <!--end of modal-container-->
        </div>
        <!--end of modal instance-->
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>


<section class="text-center bg--custom">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-lg-8">
        <h2>Section Title Centered</h2>
        <p class="lead">
          SoftPack's visual style is simple yet distinct, making it an ideal starting point for your
          project whether it be a basic marketing site, or multi-page company presence.
        </p>
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>

<section class="space-small pb-0 switchable">
  <div class="container">
    <div class="row d-flex align-items-center">
      <div class="col-md-6 col-lg-5">
        <img alt="Image" src="assets/img/avatar-large-2.png" class="img-fluid">
      </div>
      <div class="col-md-6">
        <div class="switchable__text p-4">
          <blockquote>
            <br> “I want a political party that isn't afraid to stand up and fight for equality, that's why I'm voting Stack this October”
          </blockquote>
          <h5>Tania Briggs</h5>
          <span>Stonnington Resident</span>
        </div>
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>


<!--cover image block start-->
<section class="cover-image-block cover-image-right space-small bg--custom">
  <div class="cover-image-wrap col-lg-6 col-md-5 bg-image order-sm-2" data-overlay-gradient="7">
    <div class="background-image-wraper" style="background: url('assets/img/laptop4.jpg'); opacity: 1;"></div>
    <div class="video-play-button video-play-button-1">
      <a href="https://www.youtube.com/watch?v=9No-FiEInLA"
         class="video video-play mfp-iframe" data-toggle="modal"
         data-target="#video-popup">
        <span class="ti-control-play"></span>
      </a>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-md-6">
        <div class="heading-block">
          <h3>Experience quality design with best performance.</h3>
          <p class="lead">
            Continually network virtual strategic theme areas vis-a-vis ubiquitous
            potentialities.
          </p>
        </div>
        <div class="content-block mb-4">
          <h5>Premium Design</h5>
          <p>
            Credibly build enterprise ideas and cost effective internal or organic. Objectively network granular e-services before leading sources. Authoritatively facilitate enterprise.
          </p>
        </div>
        <div class="content-block">
          <h5>Quality Code</h5>
          <p>
            Distinctively facilitate one-to-one customer service before ubiquitous human capital. Synergistically target  whereas sticky outsourcing. Interactively.
          </p>
        </div>
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>
<section class="cover-image-block cover-image-left space-small">
  <div class="cover-image-wrap col-lg-6 col-md-5 bg-image order-sm-2" data-overlay-gradient="7">
    <div class="background-image-wraper" style="background: url('assets/img/laptop4.jpg'); opacity: 1;"></div>
    <div class="video-play-button video-play-button-1">
      <a href="https://www.youtube.com/watch?v=9No-FiEInLA"
         class="video video-play mfp-iframe" data-toggle="modal"
         data-target="#video-popup">
        <span class="ti-control-play"></span>
      </a>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-md-6">
        <div class="heading-block">
          <h3>Experience quality design with best performance.</h3>
          <p class="lead">
            Continually network virtual strategic theme areas vis-a-vis ubiquitous
            potentialities.
          </p>
        </div>
        <div class="content-block mb-4">
          <h5>Premium Design</h5>
          <p>
            Credibly build enterprise ideas and cost effective internal or organic. Objectively network granular e-services before leading sources. Authoritatively facilitate enterprise.
          </p>
        </div>
        <div class="content-block">
          <h5>Quality Code</h5>
          <p>
            Distinctively facilitate one-to-one customer service before ubiquitous human capital. Synergistically target  whereas sticky outsourcing. Interactively.
          </p>
        </div>
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>

<!--cover image block end-->


<section class="text-center cta cta-4 space-xx-small bg--custom">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p> <span class="badge badge-warning">Hot!</span> Over 290 interface blocks, 240 demo pages.
          <a href="#">Purchase Now</a> for $18 USD.</p>
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>

<section class="text-center animated-color-bg">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-lg-8">
        <h1>Simple Centered</h1>
        <p class="lead">
          SoftPack's visual style is simple yet distinct, making it an ideal starting point for your
          project whether it be a basic marketing site, or multi-page company presence.
        </p>
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>

<section class="text-center ">
  <div class="container">
    <div class="row mb-4 justify-content-center">
      <h2>Over 15,000 satisfied SoftPack customers all over the world</h2>
    </div>
    <form class="row justify-content-center form--active" action="#"
          data-success="Thanks for signing up.  Please check your inbox for a confirmation email."
          data-error="Please provide your email address and agree to the terms." novalidate="true">
      <div class="col-md-6">
        <div class="input-group mb-4">
          <input type="email" class="form-control" placeholder="Recipient's username"
                 aria-label="Recipient's username" aria-describedby="basic-addon2">
          <div class="input-group-append">
            <span class="btn btn-primary" id="basic-addon2">Subscribe Now</span>
          </div>
        </div>
      </div>
      <div class="col-md-12 text-center">
        <div class="form-check ">
          <label class="form-check-label">
            <input type="checkbox" class="justify-content-center" value=""> I have read and agree to the
            <a
                    href="#">terms and conditions</a>
          </label>
        </div>
      </div>
    </form>
  </div>
  <!--end of container-->
</section>
{% endblock %}

{% block footer %}

{% endblock %}
